{% extends 'base/base.html' %}
{% block title %}about{% endblock title %}
{% block content %}
<div class="container my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center text-light">
            <h2 class="mb-4">About Me</h2>
            <p class="fs-5">Hi, my name is Huynh Tuan Phong and I'm a computer science student at VSB - Technical University of Ostrava. My student code is HUY0018 and I currently live in the VSB dormitory.</p>
            <p class="fs-5">I'm passionate about software development and enjoy learning new technologies and building applications. I have experience with several programming languages, including Python, Java, and C++. I'm also interested in web development and have worked on several projects using Django and HTML/CSS/JavaScript.</p>
            <p class="fs-5">In my free time, I like to read books, play video games, and spend time with friends. I also enjoy hiking and exploring new places, especially in the Czech Republic and neighboring countries. I'm excited to see what the future holds for me and am always looking for new opportunities to learn and grow as a developer.</p>
        </div>
    </div>
</div>
{% endblock %}
