{% extends "base/base.html" %}
{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
<div class="container py-10 mt-5">
    <div class="row d-flex justify-content-center align-items-center text-center" style="height: 500px">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h1 class="mb-3 h3 fw-normal">Password Reset Email Sent</h1>
                        <p class="mb-0 text-muted">An email has been sent to your email address with instructions on how to reset your password.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
