{% extends "base/base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="container py-5" style="height: 500px">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card border-0 shadow-lg">
                <div class="card-body p-5 text-center bg-dark">
                    <h1 class="h3 mb-3 fw-normal text-light">Password Reset Complete</h1>
                    <p class="lead mb-4 text-light">Your password has been successfully reset.</p>
                    <a class="btn btn-outline-light btn-lg px-5" href="{% url 'login' %}">Log in with your new password</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
