{% extends "base/base.html" %}
{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="container py-10 mt-5" style="height: 500px">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h1 class="mb-3 h3 fw-normal">Reset Your Password</h1>
                        <form method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-outline-light btn-lg px-5 mt-3" type="submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
